---
---

$header-bg-color: #FFFF00;
$header-bg-color-secondary: #FFFFFF;

$body-link-color: #FF0000;
$blockquote-text-color: #FF0000;

$code-text-color: #FF0000;

@import "{{ site.theme }}";

footer {
  display: none !important;
}

.btn {
  display: none !important;
}
