---
---

$header-bg-color: #FFAA00;
$header-bg-color-secondary: #FF0000;

$body-link-color: #FF0000;

@import "{{ site.theme }}";

footer {
  display: none !important;
}

.btn {
  display: none !important;
}
